<nav class="navbar px-3">
  <!-- Buffalo Logo -->
  <a href="/" class="navbar-brand">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Colorado_Buffaloes_logo.svg/330px-Colorado_Buffaloes_logo.svg.png" alt="CU Logo">
  </a>

  <!-- Optional right-side links -->
  <div>
    <a href="/login" class="me-3">Login</a>
    <a href="/register">Sign Up</a>
  </div>
</nav>