
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CU Dining Login</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar bg-black px-3">
    <img src="../../resources/img/BuffBitesLogo.png" height="40">
  </nav>

  <!-- Profile -->
  <div class="container-fluid justify-content-start align-items-start mt-4" style="height: 90vh;">
    <h1 class="text">Profile</h1>
    <div class="card p-4" style="max-width: 400px; width: 100%; border: 2px solid #000;">

      <h3 class="text">"First LastName"</h3>
      <h6 class="text-muted">"email@something.net"</h6>
      <br> 
      <h6 class="text">Username: "FAKEUSERNAME" </h6>

    </div>
  </div>

</body>