
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CU Dining Login</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/resources/css/style.css" />
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar bg-black px-3">
    <img src="../../resources/img/BuffBitesLogo.png" height="40">

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Pages
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="/home">Home</a></li>
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- Profile -->
  <div class="container-fluid mt-4">
    <h1>Profile</h1>
    <div class="d-flex gap-3">
      <div class="card p-4" style="border: 2px solid #000;">

        <h3>{{user.username}}</h3>
        <h6 class="text-muted">{{user.email}}</h6>
        <br>

        <!-- Update Username -->
        <form action="/profile/update-username" method="POST" class="mb-3">
          <div class="d-flex align-items-center gap-4">
            <h6 class="mb-0" style="width: 100px;">Username:</h6>
            <input type="text" name="username" class="form-control" value="{{user.username}}" style="width: 200px;" required>
            <button class="btn btn-sm btn-dark">Update</button>
          </div>
        </form>

        <!-- Update Email -->
        <form action="/profile/update-email" method="POST" class="mb-3">
          <div class="d-flex align-items-center gap-4">
            <h6 class="mb-0" style="width: 100px;">Email:</h6>
            <input type="email" name="email" class="form-control" value="{{user.email}}" style="width: 200px;" required>
            <button class="btn btn-sm btn-dark">Update</button>
          </div>
        </form>

        <!-- Update Password -->
        <form action="/profile/update-password" method="POST" class="mb-3">
          <div class="d-flex flex-column gap-2" style="max-width: 400px;">
            <h6 class="mb-0">Password:</h6>
            <input type="password" name="old_password" class="form-control" placeholder="Current password" required>
            <input type="password" name="new_password" class="form-control" placeholder="New password" required>
            <button class="btn btn-sm btn-dark">Update Password</button>
          </div>
        </form>

      </div>
      <div class="card p-4" style="border: 2px solid #000;">
        <h3>My Favorites:</h3>


      </div>
    </div>
  </div>
</body>
</html>
